@charset "utf-8";
/* CSS Document */

.mobileOnly {
	display: block;
}
.noMobile {
	display: none;
}

body {
	padding: 8px;
}
.container,
.single,
.double,
.triple,
.quad,
.middle,
.rightcol {
	float: none;
	clear: both;
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: block;
}